EFMregional2018/WebApp_EFM2018_V1_1/WebApp_EFM2018_V1_1/Connected Services/ServiceReferenceCapacite/WebServiceVerifCapacite.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Capacite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idSalle" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEvent" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapaciteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapaciteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CapaciteSoapIn">
    <wsdl:part name="parameters" element="tns:Capacite" />
  </wsdl:message>
  <wsdl:message name="CapaciteSoapOut">
    <wsdl:part name="parameters" element="tns:CapaciteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceVerifCapaciteSoap">
    <wsdl:operation name="Capacite">
      <wsdl:input message="tns:CapaciteSoapIn" />
      <wsdl:output message="tns:CapaciteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceVerifCapaciteSoap" type="tns:WebServiceVerifCapaciteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Capacite">
      <soap:operation soapAction="http://tempuri.org/Capacite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceVerifCapaciteSoap12" type="tns:WebServiceVerifCapaciteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Capacite">
      <soap12:operation soapAction="http://tempuri.org/Capacite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceVerifCapacite">
    <wsdl:port name="WebServiceVerifCapaciteSoap" binding="tns:WebServiceVerifCapaciteSoap">
      <soap:address location="http://localhost:51783/WebServiceVerifCapacite.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceVerifCapaciteSoap12" binding="tns:WebServiceVerifCapaciteSoap12">
      <soap12:address location="http://localhost:51783/WebServiceVerifCapacite.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>